* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: winikStyleGuide.$t-winiksoftMain;
    overflow-x: hidden;
    @include dimension(100vw);
    background-color: winikStyleGuide.$c-totalWhite;
}

a {
    text-decoration: none;
}

h2,
h3 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
}

ul.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;

    >li {
        background: white;
        border-radius: 0 0.5rem 0.5rem 0.5rem;
        @extend %boxshadow;
        counter-increment: gradient-counter;
        margin-top: 1rem;
        min-height: 3rem;
        padding: 1rem 1rem 1rem 3rem;
        position: relative;

        &::before,
        &::after {
            background: linear-gradient(135deg, winikStyleGuide.$c-winiksoftPower 0%, winikStyleGuide.$c-winiksoftLight 100%);
            border-radius: 1rem 1rem 0 1rem;
            content: '';
            height: 3rem;
            left: -1rem;
            overflow: hidden;
            position: absolute;
            top: -1rem;
            width: 3rem;
        }

        &::before {
            align-items: flex-end;
            @extend %boxshadow;
            content: counter(gradient-counter);
            color: winikStyleGuide.$c-winiksoftLetterDark;
            ;
            display: flex;
            font: 900 1.5em/1 'Montserrat';
            justify-content: flex-end;
            padding: 0.125em 0.25em;
            z-index: 1;
        }
    }
}