// NATURGY COLOR PALETTE
$c-naturgyMain: #004571;
$c-naturgySecond: #e57200;
$c-naturgyThird: white;

$c-naturgy1: #7a7256;
$c-naturgy2: #bfb8ae;
$c-naturgy3: #d3222a;
$c-naturgy4: #ffd833;
$c-naturgy5: #a2ad00;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Poppins:wght@300&display=swap');

$t-naturgyMain: 'Mukta', sans-serif;
$t-naturgySecond: 'Poppins', sans-serif;

$ts-naturgyXS: 12px;
$ts-naturgyS: 14px;
$ts-naturgyM: 16px;
$ts-naturgyL: 20px;
$ts-naturgyXL: 26px;
$ts-naturgyXXL: 36px;
$ts-naturgyHuge: 86px;